*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 600px;
  border: 1px solid mediumaquamarine;
  margin: auto;
}
header {
  width: 100%;
  padding: 0 0.25em;
  background-color: burlywood;
  color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: blanchedalmond;
  color: black;
  display: grid;
  place-content: center;
}